<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/action_page.php">
    <label for="petType">What kind of pet would you like to order?</label><br>
    <input type="text" id="petType" name="petType" ><br>

    <label for="color">Select a color</label>
    <select id="color" name="color">
        <option value="volvo">Red</option>
        <option value="saab">Brown</option>
        <option value="fiat">Grey</option>
        <option value="audi">White</option>
    </select>
</form>

</body>
</html>