<include href="views/header.html"></include>

<body class="text-center">
<form action="order2" method="post">
    <br>
    <br>
    <label for="petType">What kind of pet would you like to order?</label><br>
    <input type="text" id="petType" name="petType" placeholder="Pet Type here"><br>

    <label for="color">Select a color</label>
    <select id="color" name="color">
        <option value="Brown">Brown</option>
        <option value="Tan">Tan</option>
        <option value="Grey">Grey</option>
        <option value="White">White</option>
    </select>
    <br>
    <button class="btn btn-primary" type="submit">Order</button>

</form>

</body>
</html>